<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
    <div th:replace="common/bootstrap"></div>
</head>
<body>
<div th:if="${sessionScope.loginUser == null}" th:remove="tag">
    <script th:inline="javascript">
        alert('로그인 후 이용해주세요')
        window.location.href = '/';
    </script>
</div>
<div class="container">
    <div th:replace="common/header"></div>
    <h2>게시글 목록</h2>
    <hr>
    <table class="table text-center">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>글쓰니</th>
            <th>조회수</th>
            <th>등록날짜</th>
        </tr>
        <tr th:each="board : ${list}">
            <td th:text="${board.id}"></td>
            <td><a th:href="@{/detail(id=${board.id})}" th:text="${board.title}"></a></td>
            <td th:text="${board.writer}"></td>
            <td th:text="${board.viewCnt}"></td>
            <td th:text="${board.regDate}"></td>
        </tr>
    </table>

    <form action="search" method="GET" class="row">
        <div class="col-2">
            <label>검색기준</label>
            <select class="form-select" name="key">
                <option value="none">없음</option>
                <option value="writer">쓰니</option>
                <option value="title">제목</option>
                <option value="content">내용</option>
            </select>
        </div>
        <div class="col-5">
            <label>검색 내용</label>
            <input type="text" name="word" class="form-control">
        </div>
        <div class="col-2">
            <label>정렬기준</label>
            <select class="form-select" name="orderBy">
                <option value="none">없음</option>
                <option value="writer">쓰니</option>
                <option value="title">제목</option>
                <option value="view_cnt">조회수</option>
            </select>
        </div>
        <div class="col-2">
            <label>정렬방향</label>
            <select class="form-select" name="orderByDir">
                <option value="asc">오름차순</option>
                <option value="desc">내림차순</option>
            </select>
        </div>

        <div class="col-1">
            <input type="submit" value="검색" class="btn btn-primary">
        </div>
    </form>
    <div class="d-flex justify-content-end">
        <a href="/writeform" class="btn btn-outline-warning">등록</a>
    </div>

</div>

</body>