<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>게시글 목록</title>-->
<!--    <div th:replace="common/bootstrap"></div>-->
<!--</head>-->
<!--<body>-->
<!--<div th:if="${loginUser == null}" th:remove="tag">-->
<!--    <script th:inline="javascript">-->
<!--        alert('로그인 후 이용해주세요')-->
<!--        window.location.href = '/';-->
<!--    </script>-->
<!--</div>-->
<!--<div class="container" th:if="${loginUser != null}">-->
<!--    <h2>게시글 목록</h2>-->
<!--    <hr>-->
<!--    <table class="table text-center">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>번호</th>-->
<!--            <th>글쓰니</th>-->
<!--            <th>제목</th>-->
<!--            <th>내용</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="board : ${list}">-->
<!--            <td th:text="${board.num}"></td>-->
<!--            <td th:text="${board.user.nickname}"></td>-->
<!--            <td th:text="${board.title}"></td>-->
<!--            <td th:text="${board.content}"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--    &lt;!&ndash;    <form action="search" method="GET" class="row">&ndash;&gt;-->
<!--    &lt;!&ndash;        <div class="col-2">&ndash;&gt;-->
<!--    &lt;!&ndash;            <label>검색기준</label>&ndash;&gt;-->
<!--    &lt;!&ndash;            <select class="form-select" name="key">&ndash;&gt;-->
<!--    &lt;!&ndash;                <option value="none">없음</option>&ndash;&gt;-->
<!--    &lt;!&ndash;                <option value="writer">쓰니</option>&ndash;&gt;-->
<!--    &lt;!&ndash;                <option value="title">제목</option>&ndash;&gt;-->
<!--    &lt;!&ndash;                <option value="content">내용</option>&ndash;&gt;-->
<!--    &lt;!&ndash;            </select>&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->
<!--    &lt;!&ndash;        <div class="col-5">&ndash;&gt;-->
<!--    &lt;!&ndash;            <label>검색 내용</label>&ndash;&gt;-->
<!--    &lt;!&ndash;            <input type="text" name="word" class="form-control">&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->
<!--    &lt;!&ndash;        <div class="col-2">&ndash;&gt;-->
<!--    &lt;!&ndash;            <label>정렬기준</label>&ndash;&gt;-->
<!--    &lt;!&ndash;            <select class="form-select" name="orderBy">&ndash;&gt;-->
<!--    &lt;!&ndash;                <option value="none">없음</option>&ndash;&gt;-->
<!--    &lt;!&ndash;                <option value="writer">쓰니</option>&ndash;&gt;-->
<!--    &lt;!&ndash;                <option value="title">제목</option>&ndash;&gt;-->
<!--    &lt;!&ndash;                <option value="view_cnt">조회수</option>&ndash;&gt;-->
<!--    &lt;!&ndash;            </select>&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->
<!--    &lt;!&ndash;        <div class="col-2">&ndash;&gt;-->
<!--    &lt;!&ndash;            <label>정렬방향</label>&ndash;&gt;-->
<!--    &lt;!&ndash;            <select class="form-select" name="orderByDir">&ndash;&gt;-->
<!--    &lt;!&ndash;                <option value="asc">오름차순</option>&ndash;&gt;-->
<!--    &lt;!&ndash;                <option value="desc">내림차순</option>&ndash;&gt;-->
<!--    &lt;!&ndash;            </select>&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->

<!--    &lt;!&ndash;        <div class="col-1">&ndash;&gt;-->
<!--    &lt;!&ndash;            <input type="submit" value="검색" class="btn btn-primary">&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->
<!--    &lt;!&ndash;    </form>&ndash;&gt;-->
<!--    <div class="d-flex justify-content-end">-->
<!--        <a href="/writeform" class="btn btn-outline-warning">등록</a>-->
<!--    </div>-->

<!--</div>-->

<!--</body>-->